In [1]:
#!/usr/bin/python3
# -*-coding:utf-8
'''
Created on Fri Dec 1 22:22:35 2017

@author: Ray

It took 5.446 hours
'''
import time
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import utils # written by author
from glob import glob
from datetime import datetime, timedelta
import multiprocessing as mp
import gc # for automatic releasing memory

In [30]:
##################################################
# Load transaction 
##################################################
#input_col = []
transactions = utils.read_multiple_csv('../../input/preprocessed_data/transactions')
#print ('shape of transactions',transactions.shape)
transactions = transactions.head(n = 500)

#==============================================================================
print('reduce memory')
#==============================================================================
utils.reduce_memory(transactions)
##################################################
# Convert string to datetime format
##################################################
transactions['membership_expire_date']  = transactions.membership_expire_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
transactions['transaction_date']  = transactions.transaction_date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))



print ('After Loading ...')
##################################################
# 善用time(時間差)來區隔交易日期時間點的行為
##################################################

def t_diff(x, time_diff):
    # x : the dataframe belong to a each specific user
    # time_diff: 2,3,4,...
    for i in range(1, time_diff):
        x['t-{}_transaction_date'.format(i)] = x['transaction_date'].shift(i)
        x['t-{}_membership_expire_date'.format(i)] = x['membership_expire_date'].shift(i)
        x['t-{}_payment_method_id'.format(i)] = x['payment_method_id'].shift(i)
        x['t-{}_payment_plan_days'.format(i)] = x['payment_plan_days'].shift(i)
        x['t-{}_plan_list_price'.format(i)] = x['plan_list_price'].shift(i)
        x['t-{}_actual_amount_paid'.format(i)] = x['actual_amount_paid'].shift(i)
        x['t-{}_is_auto_renew'.format(i)] = x['is_auto_renew'].shift(i)
        x['t-{}_is_cancel'.format(i)] = x['is_cancel'].shift(i)
    return x
def make_order_number(x):
    # for near 5
    # 1:代表最靠近現在,數字越大代表是越過去的歷史紀錄
    x['order_number_rev'] = list(reversed([i+1 for i in range(x.shape[0])]))
    return x

100%|██████████| 4/4 [00:30<00:00,  7.56s/it]
100%|██████████| 9/9 [00:00<00:00, 1843.56it/s]

reduce memory

After Loading ...

In [41]:
##################################################
# Main
##################################################
s = time.time()

transactions = transactions.groupby('msno').apply(t_diff, 2)
transactions = transactions.groupby('msno').apply(make_order_number)

gc.collect()
# write
path = '../input/preprocessed_data/transactions_time_diff'

output_col = ['msno','transaction_date','t-1_transaction_date','t-1_membership_expire_date',
              't-1_payment_method_id','t-1_payment_plan_days',
             't-1_plan_list_price','t-1_actual_amount_paid',
             't-1_is_auto_renew','t-1_is_cancel',
             'order_number_rev'
             ]


transactions_time_diff = transactions[output_col]

In [42]:
transactions_time_diff[transactions_time_diff.msno == '+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=']

,msno,transaction_date,t-1_transaction_date,t-1_membership_expire_date,t-1_payment_method_id,t-1_payment_plan_days,t-1_plan_list_price,t-1_actual_amount_paid,t-1_is_auto_renew,t-1_is_cancel,order_number_rev
3,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-11-16,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,5
4,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-12-15,2016-11-16,2016-12-15,41.0,30.0,99.0,99.0,1.0,0.0,4
5,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-01-15,2016-12-15,2017-01-15,41.0,30.0,99.0,99.0,1.0,0.0,3
6,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-02-15,2017-01-15,2017-02-15,41.0,30.0,99.0,99.0,1.0,0.0,2
7,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-03-15,2017-02-15,2017-03-15,41.0,30.0,99.0,99.0,1.0,0.0,1

In [43]:
transactions_time_diff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 11 columns):
msno                          500 non-null object
transaction_date              500 non-null datetime64[ns]
t-1_transaction_date          438 non-null datetime64[ns]
t-1_membership_expire_date    438 non-null datetime64[ns]
t-1_payment_method_id         438 non-null float64
t-1_payment_plan_days         438 non-null float64
t-1_plan_list_price           438 non-null float64
t-1_actual_amount_paid        438 non-null float64
t-1_is_auto_renew             438 non-null float64
t-1_is_cancel                 438 non-null float64
order_number_rev              500 non-null int64
dtypes: datetime64[ns](3), float64(6), int64(1), object(1)
memory usage: 46.9+ KB

In [39]:
def reduce_memory(df, ix_start=0):
	# There are two concepts: 1. change type, 2 drop NaN(missing) value
    df.fillna(-1, inplace=True)
    if df.shape[0] <= 500:
        df_ = df.sample(50, random_state=71) # sampling for the following comoparison
    else:
        df_ = df.sample(9999, random_state=71)
    ## int
    col_int8 = []
    col_int16 = []
    col_int32 = []
    for c in tqdm(df.columns[ix_start:], miniters=20):
        print (df[c].dtype)
#         if df[c].dtype=='O':
#         	# '0': Objects
#             continue
#         elif df[c].dtype == 'datetime64[ns]':
#             continue
#         elif (df_[c] == df_[c].astype(np.int8)).all():
#         	# Series.all():return true if all elements in Series is True
#             col_int8.append(c)
#         elif (df_[c] == df_[c].astype(np.int16)).all():
#             col_int16.append(c)
#         elif (df_[c] == df_[c].astype(np.int32)).all():
#             col_int32.append(c)
    
    df[col_int8]  = df[col_int8].astype(np.int8)
    df[col_int16] = df[col_int16].astype(np.int16)
    df[col_int32] = df[col_int32].astype(np.int32)
    
    ## float
    col = [c for c in df.dtypes[df.dtypes==np.float64].index]
    df[col] = df[col].astype(np.float32)

    gc.collect()
#==============================================================================
print('reduce memory')
#==============================================================================
reduce_memory(transactions_time_diff)

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:3035: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)
100%|██████████| 11/11 [00:00<00:00, 2056.40it/s]

reduce memory
object
datetime64[ns]
object
object
float64
float64
float64
float64
float64
float64
int64

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:2540: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [40]:
transactions_time_diff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 11 columns):
msno                          500 non-null object
transaction_date              500 non-null datetime64[ns]
t-1_transaction_date          500 non-null object
t-1_membership_expire_date    500 non-null object
t-1_payment_method_id         500 non-null int8
t-1_payment_plan_days         500 non-null int16
t-1_plan_list_price           500 non-null int16
t-1_actual_amount_paid        500 non-null int16
t-1_is_auto_renew             500 non-null int8
t-1_is_cancel                 500 non-null int8
order_number_rev              500 non-null int8
dtypes: datetime64[ns](1), int16(3), int8(4), object(3)
memory usage: 24.4+ KB

In [35]:
transactions_time_diff[transactions_time_diff.msno == '+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=']

,msno,transaction_date,t-1_transaction_date,t-1_membership_expire_date,t-1_payment_method_id,t-1_payment_plan_days,t-1_plan_list_price,t-1_actual_amount_paid,t-1_is_auto_renew,t-1_is_cancel,order_number_rev
3,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-11-16,-1,-1,-1,-1,-1,-1,-1,-1,5
4,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2016-12-15,2016-11-16 00:00:00,2016-12-15 00:00:00,41,30,99,99,1,0,4
5,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-01-15,2016-12-15 00:00:00,2017-01-15 00:00:00,41,30,99,99,1,0,3
6,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-02-15,2017-01-15 00:00:00,2017-02-15 00:00:00,41,30,99,99,1,0,2
7,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2017-03-15,2017-02-15 00:00:00,2017-03-15 00:00:00,41,30,99,99,1,0,1

In [11]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 11 columns):
msno                          500 non-null object
transaction_date              500 non-null datetime64[ns]
t-1_transaction_date          438 non-null datetime64[ns]
t-1_membership_expire_date    438 non-null datetime64[ns]
t-1_payment_method_id         438 non-null float64
t-1_payment_plan_days         438 non-null float64
t-1_plan_list_price           438 non-null float64
t-1_actual_amount_paid        438 non-null float64
t-1_is_auto_renew             438 non-null float64
t-1_is_cancel                 438 non-null float64
order_number_rev              500 non-null int64
dtypes: datetime64[ns](3), float64(6), int64(1), object(1)
memory usage: 46.9+ KB